h1{
    color: #F77E21;
  }

  h3{
    color: #F77E21;
  }

  body{
      background-color: #FFCC8F;
  }
  hr{
    border-style: none;
    border-top: dotted;
    border-color: white;
    border-width: 5px;
    width: 4%;
  }